<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Calculadora con Bootstrap</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="calc">
                <input class="display" type="text" [value]="valorEnPantalla">
                <div class="d-flex">
                    <div class="numbers">
                        <div class="button number">
                            <button class="btn btn-secondary" (click)="agregarAlValorEnPantalla('9')">9</button>
                        </div>
                        <div class="button number">
                            <button class="btn btn-secondary" (click)="agregarAlValorEnPantalla('8')">8</button>
                        </div>
                        <div class="button number">
                            <button class="btn btn-secondary" (click)="agregarAlValorEnPantalla('7')">7</button>
                        </div>
                        <div class="button number">
                          <button class="btn btn-secondary" (click)="agregarAlValorEnPantalla('6')">6</button>
                        </div>
                        <div class="button number">
                          <button class="btn btn-secondary" (click)="agregarAlValorEnPantalla('5')">5</button>
                        </div>
                        <div class="button number">
                          <button class="btn btn-secondary" (click)="agregarAlValorEnPantalla('4')">4</button>
                        </div>
                        <div class="button number">
                          <button class="btn btn-secondary" (click)="agregarAlValorEnPantalla('3')">3</button>
                        </div>
                        <div class="button number">
                          <button class="btn btn-secondary" (click)="agregarAlValorEnPantalla('2')">2</button>
                        </div>
                        <div class="button number">
                          <button class="btn btn-secondary" (click)="agregarAlValorEnPantalla('1')">1</button>
                        </div>
                        <div class="button number">
                          <button class="btn btn-secondary" (click)="agregarAlValorEnPantalla('.')">.</button>
                        </div>
                        <div class="button number">
                          <button class="btn btn-secondary" (click)="agregarAlValorEnPantalla('0')">0</button>
                        </div>
                        <div class="button number">
                          <button class="btn btn-secondary" (click)="agregarAlValorEnPantalla('00')">00</button>
                        </div>
                    </div>
                    <div class="controls">
                        <div class="button control">
                            <button class="btn btn-info" (click)="borrarDelValorEnPantalla()">DEL</button>
                        </div>
                        <div class="button control">
                            <button class="btn btn-info" (click)="limpiarPantalla()">C</button>
                        </div>
                        <div class="button control">
                          <button class="btn btn-info" (click)="realizarOperacion('/')">/</button>
                      </div>
                      <div class="button control">
                          <button class="btn btn-info" (click)="realizarOperacion('*')">*</button>
                      </div>
                      <div class="button control">
                          <button class="btn btn-info" (click)="realizarOperacion('-')">-</button>
                      </div>
                      <div class="button control">
                          <button class="btn btn-info" (click)="realizarOperacion('+')">+</button>
                      </div>
                      <div class="button control">
                          <button class="btn btn-info" (click)="calcularResultado()">=</button>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
